name: CI
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Bersihkan disk space
      - name: Free Disk Space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # PERBAIKAN DI SINI:
      # Saya menambahkan 'clang', 'llvm', 'lld' agar error "C++ compiler not found" hilang.
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential libltdl-dev libffi-dev libssl-dev python3-dev \
            git zip unzip autoconf libtool pkg-config zlib1g-dev cmake \
            libncurses-dev automake gettext autopoint \
            libjpeg-dev libfreetype6-dev \
            clang llvm lld

      - name: Install Buildozer
        run: pip install --upgrade buildozer cython

      # Build dengan Log
      - name: Build APK with Logging
        shell: bash
        run: |
          set -o pipefail
          yes | buildozer android debug 2>&1 | tee build_log.txt

      # Upload Hasil (APK + Log)
      - name: Upload Logs and APK
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: |
            bin/*.apk
            build_log.txt
          compression-level: 0
