name: CI
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # 1. Menghapus file lama agar hemat memori (Penting untuk server gratisan)
      - name: Free Disk Space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # 2. INSTALL DEPENDENCIES LENGKAP
      # Saya menambahkan: automake, gettext, autopoint (wajib untuk compile Android)
      # Saya menambahkan: libjpeg-dev, libfreetype6-dev (wajib untuk compile Pillow/Gambar)
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential libltdl-dev libffi-dev libssl-dev python3-dev \
            git zip unzip autoconf libtool pkg-config zlib1g-dev cmake \
            libncurses-dev automake gettext autopoint \
            libjpeg-dev libfreetype6-dev

      - name: Install Buildozer
        run: pip install --upgrade buildozer cython

      # 3. Jalankan Buildozer
      # yes | digunakan untuk menyetujui lisensi SDK otomatis
      - name: Build APK
        run: yes | buildozer android debug

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
          compression-level: 0
