name: CI
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Menggunakan versi checkout terbaru (v4)
      - uses: actions/checkout@v4

      # Menggunakan Buildozer action
      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action-v1@v3
        id: buildozer
        with:
          command: buildozer android debug
          buildozer_version: master

      # PERBAIKAN PENTING: Menggunakan upload-artifact v4
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
          compression-level: 0 # Agar upload lebih cepat
          overwrite: true
