name: CI
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # PERBAIKAN DI SINI: 
      # Menghapus 'libtinfo5' dan mengganti 'libncurses5-dev' menjadi 'libncurses-dev'
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libltdl-dev libffi-dev libssl-dev python3-dev git zip unzip autoconf libtool pkg-config zlib1g-dev cmake libncurses-dev

      - name: Install Buildozer
        run: pip install --upgrade buildozer cython

      # Menambahkan --accept-sdk-license otomatis agar tidak macet
      - name: Build APK
        run: yes | buildozer android debug

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
          compression-level: 0
