name: CI
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Kita update ini ke v4 (terbaru)
      - uses: actions/checkout@v4

      # Langkah Buildozer (Kita pastikan versinya benar)
      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action-v1@v3
        id: buildozer
        with:
          command: buildozer android debug
          buildozer_version: master

      # INI PERBAIKAN UTAMANYA: Mengganti v2 menjadi v4
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
          compression-level: 0 # Opsional: agar upload lebih cepat tanpa kompresi